/*The css that affects the whole page starts */
body {
    font-family: 'Playfair Display', serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}


/*The css affecting the entire page ends */

/*Navbar css start */
/* Navbar links to the spacing as well as padding around them*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #18181a;
}

/* Set Navbar text to flex according to mode */
.left-side {
    display: flex;
    padding-left: 10px;
}

.right-side {
    font-size: 1.5em;
}

/* Navbar text setting for uppercase and font size */
.nav-wrapper > .left-side > div {
   margin-right: 20px;
   font-size: 1.2em;
   text-transform: uppercase;
}

/* Navbar text size, border and hover transition */
.nav-link-wrapper {
    height: 26px;
    border-bottom: 1px solid transparent; 
    transition: border-botton 0.5s;
}

/* Navbar color before hover */
.nav-link-wrapper a {
    color: #696868;
    text-decoration: none;
    transition: color 0.5s;
}

/* Navbar underline color */
.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

/* Navbar hover color*/
.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black !important;
}

/* Right side name moving*/
.brand{
    margin-left: 100px;
    color: white;
}
/* Right side logo*/
.upper_logo_container{
    width: 60px;
    float: left;
    height: 100%;
    display: block;
   
}
/* Right side logo img*/
.upper_logo_container img{
    width: 60px;
    height: auto;
}
/* Navbar css end */

/* Portfolio styles begin */
/* Place the images inside the grid, placing them side by side */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}   

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-items-wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}  

.portfolio-item-wrapper2 {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
} */

/* Logo size and margin */
.logo-wrapper img{
    width: 60%;
    height: auto;
    margin-bottom: 20px;
    position: relative;
}

.logo-wrapper img:nth-child(1){
   width: 35%;
}

/* Text transitions */
.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.book-logo-wrapper img{
    height: auto;
    width: 20%;
    position: relative;
}

/* Text hovering */
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: rgb(208, 218, 217);
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About start */

.two-colum-wrapper {
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.profile-image-wrapper img {
    width: 65%;
    padding-left: 20px;
    padding-top: 20px;
}

.profile-content-wrapper{
    padding: 30px;   
}
.profile-content-wrapper, p{
     font-size: 1.2em; 
}

.profile-content-wrapper{
    color: black;   
}

/*cv start*/

/* .cv-image-wrapper img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

.cv-header-wrapper {
    text-align: center;
    padding: 3em;
}

.cv-content-wrapper {
    text-align: center;
    padding-bottom: 1em;
}

.cv-content-wrapper p{
    padding: 1em;
    font-size: 1.5em;
}

.cv-content-wrapper a{
    color: rgb(36, 34, 34);
    font-size: 1.3em;
}


/*Neo site*/

/* Neo logo size and margin test */
.three-logo-wrapper img{
    height: auto;
    width: 45%;
    position: relative;
}

/*certificare*/
.certificate-header-wrapper {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}

.text-and-certification {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.certificate-image-wrapper img {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.param-wrapper {
    text-align: center;
    position: relative; 
}
.certification-logo-wrapper img{
    height: auto;
    width: 60%;
    position: relative;
    
}

/* wrapper2 */
.container2 {
    display: grid;
    grid-template-columns: 1fr;
}

.img-text-wrapper2 {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* .img-text-wrapper2 #wordpress {
    
    
} */

.img-text-wrapper2:hover .subtitle {
    font-weight: 600;
    color: rgb(208, 218, 217);
}

.img-text-wrapper2 .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

/* Footer start */
/*footer box settings*/
.footer{
    height: auto;
    display: block;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    background-color: #18181a;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container{
    width: 60px;
    height: auto;
    float: left;
    display: block;
}

.inner_footer .logo_container img{
    width: 60px;
    height: auto;
}

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: right;
    height: 100%;
}
ol {
    padding: 0;
}

.inner_footer .footer_third h1{
    font-family: 'arial';
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: 'arial';
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}

.inner_footer .footer_third li{
    display: inline-block;
    font-size: 20px;
}

@media(max-width: 800px){
    .footer .inner_footer{
        width: 90%;
    }

    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .text-and-certification {
        display: grid;
        grid-template-columns: 1fr;
    }
    .portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .portfolio-items-wrapper2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .two-colum-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .profile-image-wrapper img {
        width: 70%;
        padding-left: 0;
        padding-top: 20px;
    }
}

/* Contact */
/*upper information*/
.upper-information{
    width: 100vw;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #18181a;
    color: rgb(255, 255, 255);
    text-align: center;
  }
/*midle information*/
  .midle-information{
    width: 100vw;
    display: block;
    padding: 0 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: rgb(0, 0, 0); 
    text-align: center;
  }

  /*3d model page*/
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: left;
  }

  .grid-item-inner {
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-item img {
      width: 95%;
  }

  /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/*my Video*/
 #myVideo {
    position: absolute;
    right: 0;
    left: 0;
    width: inherit;
    height: 100%;   
    object-fit: cover;    
    object-position: center;
  }

  /*upper information*/
  .button-box {
    padding-bottom: 20px;
  }

  .content {
    min-height: 100vh;
    display: flex;   
    align-items: center;
    justify-content: center;
  }

  .content h1{
    background: #000 none repeat scroll 0 0;
    color: tan;
    font-weight: 600;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
  }
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    
  }
  /*Style button hover*/
  #myBtn:hover {
    background: #ddd;
    color: black;
  }  
   /*Drop nav start*/
   /* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #414141;
  } 
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /*Make drop menu in front of page*/
  } 
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ddd
    } 
  /* Show the dropdown menu (use JS to add this class to the
   .dropdown-content container when the user clicks on the dropdown button) */
  .show {
      display:block;
    }